@font-face {
    font-family: 'Intro Rust';
    src: url('../../Webpage_Fonts/IntroRustBook-Trial-FillG.ttf') format('truetype');
}

@font-face {
    font-family: 'Intro Rust Thin';
    src: url('../../Webpage_Fonts/IntroRustL-Trial-Line.ttf') format('truetype');
}

@font-face {
    font-family: 'Intro Rust Lowercase';
    src: url('../../Webpage_Fonts/Intro-Light.otf') format('opentype');
}

body {
    margin: 0;
    background: linear-gradient(to bottom, beige, bisque, #a57b63);
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover;
}

.body_admin {
    margin: 0;
    background: linear-gradient(to bottom, rgb(119, 14, 23), bisque, #a57b63);
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover;
}

.brand_container {
    width: 100%;
    display: block; 
    padding: 5px auto;
    margin: 2px auto;         
}

.brand_container img {
    width: 20%;
    margin: 5px auto;
    padding: 10px;
    display: flex;              
    justify-content: center;    
    align-items: center;        
    text-align: center;
}

.links_container {
    display: flex;              
    justify-content: center;     
    align-items: center;        
    gap: 20px;                  
    width: 80%;                  
    padding: 10px 20px;        
    margin: 0 auto;           
    font-family: 'Intro Rust Thin';
    font-weight: bolder;
    text-decoration: none;
    color: rgb(78, 7, 7);
}

.banner {
    color: rgb(78, 7, 7);
    font-family: 'Intro Rust Thin';
    font-weight: bolder;
    font-size: 4.5vh;
    width: 25%;
    margin: 0 auto;         
    display: flex;              
    justify-content: center;    
    align-items: center;        
    text-align: center;
}

.banner img {
    margin-top: 80px;;
    width: 80%;
}

.full-line {
    width: 100%;     
    border: none;     
    height: 1px;    
    background-color: #4d3607;
    margin: 20px 0;  
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

.content {
    padding-bottom: 50px;
}

.info_container {
    background-color: aliceblue;
    width: 100%;
    display: flex; 
    padding: 0 auto;
    margin: 0 auto; 
    justify-content: space-between;  
    align-items: center;        
}

.info_container p {
    text-align: center;
    font-family: 'Intro Rust Thin'; 
    font-weight: bolder;    
}

.about_link:link, 
.contacts_link:link,
.home_link:link,
.profile_link:link,
.sales_link:link,
.inventory_link:link,
.dashboard_link:link,
.ordermanagement_link:link,
.completed_link:link,
.pending_link:link,
.back_link:link,
.cart_link:link,
.orderhistory_link:link {
    color: rgb(78, 7, 7);
    text-decoration: none;
}

.about_link:hover, 
.contacts_link:hover,
.home_link:hover,
.profile_link:hover,
.sales_link:hover,
.inventory_link:hover,
.dashboard_link:hover,
.completed_link:hover,
.ordermanagement_link:hover,
.pending_link:hover,
.back_link:hover,
.cart_link:hover,
.orderhistory_link:hover {
    opacity: 0.5;
}

.info_container img {
    width: 15%;
    margin: 5px auto;
    padding: 50px;
    display: inline-block;
}

.infolinks_container {
    display: flex;             
    justify-content: center;    
    align-items: center;      
    gap: 20px;                 
    width: 70%;               
    padding: 10px 20px;         
    margin: 0;             
    font-family: 'Intro Rust Thin';
    font-weight: bolder;
    text-decoration: none;
    color: rgb(78, 7, 7);
}

.image_gallery {
    width: 95%;
    padding: 15px;
    display: flex;
    justify-content: center; 
    align-items: center;      
    flex-wrap: wrap;                          
    margin: 0 auto;     
}

.image_box {
    width: 80%;
    height: 500px;
    margin: 5px; 
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
    transition: 0.4s;
    background-image: url(../../Webpage_Images_&_Icons/Interface_Images/Slider_Image1.jpg);
}

.categories {
    width: 80%;
    padding: 15px;
    display: flex;
    justify-content: center; 
    align-items: center;      
    flex-wrap: wrap;          
    gap: 5px;                
    margin: 0 auto;           
}

.item_options {
    width: 90%;
    padding: 15px;
    display: flex;
    justify-content: center; 
    align-items: center;      
    flex-wrap: wrap;          
    gap: 5px;                
    margin: 0 auto;  
}

.category_1,
.category_2,
.category_3,
.category_4,
.category_5,
.category_6,
.coffee_category_1,
.coffee_category_2,
.noncoffee_category_1,
.noncoffee_category_2,
.secretmenu_category_1,
.secretmenu_category_2,
.secretmenu_category_3,
.pastries_category_1, 
.pastries_category_2,
.takoyaki_category_1,
.takoyaki_category_2,
.ramen_category_1,
.ramen_category_2 {
    border-radius: 30px;
    width: 25%;
    height: 270px;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 40px rgba(0,0,0,0.5);
    display: inline-block;
    margin: 15px; 
    transition: 0.1s ease;
}

.category_1:hover,
.category_2:hover,
.category_3:hover,
.category_4:hover,
.category_5:hover,
.category_6:hover,
.coffee_category_1:hover,
.coffee_category_2:hover,
.noncoffee_category_1:hover,
.noncoffee_category_2:hover,
.secretmenu_category_1:hover,
.secretmenu_category_2:hover,
.secretmenu_category_3:hover,
.pastries_category_1:hover,
.pastries_category_2:hover,
.takoyaki_category_1:hover,
.takoyaki_category_2:hover,
.ramen_category_1:hover,
.ramen_category_2:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.category_1 { background-image: url(../../Webpage_Images_&_Icons/Product_Icons/Category1_Coffee_Icons/Coffee_Icon.jpg); }
.category_2 { background-image: url(../../Webpage_Images_&_Icons/Product_Icons/Category2_NonCoffee_Icons/NonCoffee_Icon.jpg); }
.category_3 { background-image: url(../../Webpage_Images_&_Icons/Product_Icons/Category3_SecretMenu_Icons/SecretMenu_Icon.jpg); }
.category_4 { background-image: url(../../Webpage_Images_&_Icons/Product_Icons/Category4_Pastries_Icons/Pastries_Icon.jpg); }
.category_5 { background-image: url(../../Webpage_Images_&_Icons/Product_Icons/Category5_Takoyaki_Icons/Takoyaki_Icon.jpg); }
.category_6 { background-image: url(../../Webpage_Images_&_Icons/Product_Icons/Category6_Ramen_Icons/Ramen_Icon.jpg); }
.coffee_category_1 { background-image: url(../../Webpage_Images_&_Icons/Product_Icons/Category1_Coffee_Icons/IcedCoffee_Icon.jpg); }
.coffee_category_2 { background-image: url(../../Webpage_Images_&_Icons/Product_Icons/Category1_Coffee_Icons/HotCoffee_Icon.jpg); }
.icedcoffee_list { background-image: url(../../Webpage_Images_&_Icons/Product_Icons/Category1_Coffee_Icons/IcedCoffeeList_Icon.jpg); }
.hotcoffee_list { background-image: url(../../Webpage_Images_&_Icons/Product_Icons/Category1_Coffee_Icons/HotCoffeeList_Icon.jpg); }
.noncoffee_category_1 { background-image: url(../../Webpage_Images_&_Icons/Product_Icons/Category2_NonCoffee_Icons/Latte_Icon.jpg); }
.noncoffee_category_2 { background-image: url(../../Webpage_Images_&_Icons/Product_Icons/Category2_NonCoffee_Icons/FruitTea_Icon.jpg); }
.latte_list { background-image: url(../../Webpage_Images_&_Icons/Product_Icons/Category2_NonCoffee_Icons/LatteList_Icon.jpg); }
.fruittea_list { background-image: url(../../Webpage_Images_&_Icons/Product_Icons/Category2_NonCoffee_Icons/FruitTeaList_Icon.jpg); }
.secretmenu_category_1 { background-image: url(../../Webpage_Images_&_Icons/Product_Icons/Category3_SecretMenu_Icons/SodaSeries_Icon.jpg); }
.secretmenu_category_2 { background-image: url(../../Webpage_Images_&_Icons/Product_Icons/Category3_SecretMenu_Icons/FusionSeries_Icon.jpg); }
.secretmenu_category_3 { background-image: url(../../Webpage_Images_&_Icons/Product_Icons/Category3_SecretMenu_Icons/BiscoffSeries_Icon.jpg); }
.soda_list { background-image: url(../../Webpage_Images_&_Icons/Product_Icons/Category3_SecretMenu_Icons/SodaSeriesList_Icon.jpg); }
.fusionseries_list { background-image: url(../../Webpage_Images_&_Icons/Product_Icons/Category3_SecretMenu_Icons/FusionSeriesList_Icon.jpg); }
.biscoffseries_list { background-image: url(../../Webpage_Images_&_Icons/Product_Icons/Category3_SecretMenu_Icons/BiscoffSeriesList_Icon.jpg); }
.pastries_category_1 { background-image: url(../../Webpage_Images_&_Icons/Product_Icons/Category4_Pastries_Icons/CinnamonRoll_Icon.jpg); }
.pastries_category_2 { background-image: url(../../Webpage_Images_&_Icons/Product_Icons/Category4_Pastries_Icons/Cake_Icon.jpg); }
.cinnamonrolls_list { background-image: url(../../Webpage_Images_&_Icons/Product_Icons/Category4_Pastries_Icons/CinnamonRollList_Icon.jpg); }
.cakes_list { background-image: url(../../Webpage_Images_&_Icons/Product_Icons/Category4_Pastries_Icons/CakeList_Icon.jpg); }
.takoyaki_category_1 { background-image: url(../../Webpage_Images_&_Icons/Product_Icons/Category5_Takoyaki_Icons/OriginalTakoyaki_Icon.jpg); }
.takoyaki_category_2 { background-image: url(../../Webpage_Images_&_Icons/Product_Icons/Category5_Takoyaki_Icons/SpicyTakoyaki_Icon.jpg); }
.takoyaki_list { background-image: url(../../Webpage_Images_&_Icons/Product_Icons/Category5_Takoyaki_Icons/TakoyakiList_Icon.jpg); }
.ramen_category_1 { background-image: url(../../Webpage_Images_&_Icons/Product_Icons/Category6_Ramen_Icons/ChickenRamen_Icon.jpg); }
.ramen_category_2 { background-image: url(../../Webpage_Images_&_Icons/Product_Icons/Category6_Ramen_Icons/BeefRamen_Icon.jpg); }
.chickenramen_list { background-image: url(../../Webpage_Images_&_Icons/Product_Icons/Category6_Ramen_Icons/ChickenRamenList_Icon.jpg); }
.beeframen_list { background-image: url(../../Webpage_Images_&_Icons/Product_Icons/Category6_Ramen_Icons/BeefRamenList_Icon.jpg); }

.icedcoffee_list,
.hotcoffee_list,
.latte_list,
.fruittea_list,
.soda_list,
.fusionseries_list,
.biscoffseries_list,
.cinnamonrolls_list,
.cakes_list,
.takoyaki_list,
.chickenramen_list,
.beeframen_list {
    width: 800px;
    height: 400px;
    margin: 15px auto; 
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 40px rgba(0,0,0,0.5);
    transition: 0.4s;
}

.inventory_box,
.sales_container {
    width: 80%;
    font-family: 'Intro Rust Thin';
    font-weight: bolder;
    font-size: 2vh;
    padding: 15px;              
    margin: 20px auto;
    text-align: center;
}

.inventory_header {
    margin: 0 auto;
    text-align: center;
}

.inventory_box {
    margin: 0 auto;
}

.company_info {
    width: 60%;
    font-family: 'Intro Rust Thin';
    font-weight: bolder;
    font-size: 2vh;
    padding: 15px;              
    margin: 20px auto;
    text-align: center;
}

.company_info img{
    width: 150px;
    vertical-align: middle;
}

.auth_container,
.cart_container, 
.checkout_container,
.profile_container,
.order_container,
.address_container,
.completed_container,
.customer_order_container {
    background-color: beige;
    font-family: 'Intro Rust Thin';
    font-weight: bolder;
    font-size: 2vh;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    transition: 0.4s;
    padding: 15px;              
    margin: 20px auto;    
}

.cart_container, 
.checkout_container,
.profile_container,
.order_container,
.address_container,
.completed_container,
.customer_order_container {
    width: 40%;
}

.auth_container {
    display: flex; 
    justify-content: center;
    text-align: center;
    width: 30%;
}

input {
    font-family: Verdana;
    width: 95%; 
    padding: 8px; 
    border-radius: 10px; 
    margin-top: 5px;
    display: block;
}

.item_options {
    display: flex;
    width: 95%;
}

.product_panel {
    width: 100%;
    max-width: 380px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.label_title {
    font-family: 'Intro Rust Thin';
    font-size: 2.3vh;
    font-weight: bolder;
    color: rgb(78, 7, 7);
    text-align: center;
}

.styled_input {
    width: 70%;
    padding: 10px;
    border-radius: 12px;
    background-color: aliceblue;
    font-family: 'Intro Rust';
    font-weight: bold;
    font-size: 2.3vh;
    box-shadow: 0 0 6px rgba(0,0,0,0.15) inset;
    margin: 0 auto;
}

.stock_box {
    width: 65%;
    font-family: 'Intro Rust Thin';
    font-size: 2.3vh;
    font-weight: bolder;
    background: #fff5d1;
    padding: 8px 10px;
    border-radius: 12px;
    border: 2px solid #e6c87a;
    margin: 0 auto;
}

.cart_button {
    width: 70%;
    padding: 5px;
    background-color: #ffffff;
    border-radius: 50px;
    font-family: 'Intro Rust Thin';
    font-size: 2.4vh;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin: 15px auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.cart_button:hover {
    opacity: 0.6; 
}


.brgy_select {
    font-family: 'Intro Rust';
    font-weight: bold;
    width: 95%; 
    padding: 8px; 
    border-radius: 10px; 
    border: 1px solid black; 
    margin-top: 5px;
    display: block;
}

.brgy_select,
.password_input {
    margin-bottom: 30px;
}

.place_order_button,
.address_done {
    margin-top: 10px;
    display: flex;
    justify-content: right;
}

button {
    background-color: aliceblue;
    font-family: 'Intro Rust Thin';
    font-weight: bolder;
    color: rgb(78, 7, 7);
    width: 30%;
    padding: 5px;
    font-size: 2.3vh;
    border-radius: 25px;
    cursor: pointer;
    display: inline-block;
}

button:hover { opacity: 0.6; }
.remove_button { width: 7%; }
.login_button,.signup_button,.received_button { width: 100%; }
.logout_button, .add_button { width: 20%; }

.cart_item,
.order_item {
    font-size: 2.5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 0px;
}

.cart_total,
.checkout_total {
    font-size: 2.5vh;
    margin-top: 10px;
    color: #000000;
}

.cart_total .row,
.checkout_total .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart_buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

label { 
    display: block; 
    margin-top: 10px; 
    font-weight: bold; 
}

.order_summary { 
    background-color: beige; 
    padding: 10px; 
    border-radius: 15px; 
}

.order_item { 
    display: flex; 
    justify-content: space-between; 
}

.total { 
    font-weight: bold; 
    margin-top: 15px; 
    text-align: right;
}

.fly {
    position: fixed;
    width: 80px;
    height: 80px;
    border-radius: 6px;
    background-image: url(../../Webpage_Images_&_Icons/Button_Icons/FlyingOrder_Icon.png);
    background-size: cover;
    background-position: center;
    z-index: 5000;
    transition: transform 3s ease, opacity 5s ease;
    pointer-events: none;
}

.order_card {
    background: white;
    padding: 15px;
    margin: 15px 0;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.order_status { margin-top: 10px;}

.order_meta, .order_status {
    display:flex; 
    justify-content:space-between; 
    align-items:center; 
}
            
.items_list { 
    margin-top:8px; 
    margin-bottom:8px; 
}

.star { 
    cursor:pointer; 
    font-size:20px; 
    margin-right:4px; 
    user-select:none; 
}

.receipt_popup_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.receipt_popup {
    background: beige;
    width: 85%;
    max-width: 380px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    animation: dropIn 0.3s ease;
    font-family: 'Intro Rust Thin';
    font-weight: bolder;
}

@keyframes dropIn {
    from { transform: translateY(-30px); opacity: 0; }
    to   { transform: translateY(0); opacity: 1; }
}

.receipt_popup h2 {
    text-align: center;
    margin-bottom: 10px;
}

.receipt_row {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.receipt_total {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 18px;
}

#closeReceipt {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background: #4d3607;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}

.profile_box { 
    font-family: 'Intro Rust Lowercase';
    font-weight: bolder; 
}

.profile_details {
    font-size: 2.5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 0px;
}

.indent { margin-left: 20px; }

.inventory_table {
    display: flex;
    justify-content: center;   
    margin-top: 20px;
}

.admin_inventory_table {
    border-collapse: collapse;
    width: 100%;            
    max-width: 900px;
    text-align: center;      
    margin: 0 auto;         
}

.admin_inventory_table th,
.admin_inventory_table td {
    padding: 12px;
    border: 1px solid #000000;
    text-align: center;       
}

.delete_button,
.update_button {
    display: block;
    margin: 5px auto;
    width: 100%;
}

.admin_inventory_table input.inventory_input {
    width: 80px;     
    padding: 5px;
    text-align: center;  
    box-sizing: border-box;
    margin: 0 auto;
}

.dashboard_container {
    width: 95%;
    max-width: 1200px;
    margin: 30px auto;
}

.dashboard_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
}

.card {
    background: aliceblue;
    padding: 20px;
    width: 240px;
    text-align: center;
    border-radius: 18px;
    font-family: 'Intro Rust Thin';
    font-weight: bolder;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-size: 2.5vh;
}

.chart_section {
    width: 70%;
    background: aliceblue;
    padding: 10px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.55);
    border-radius: 20px;
    text-align: center;
}